!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/
[mysqld]

## You may need to add more depending on your environment
bind_address = ::ffff:127.0.0.1

## For modern environments, this enables several security measures that mostly prevent damage from Really Badly Written Queries You Shouldn't Use™ & unexpected behavior.
## sql_mode=ONLY_FULL_GROUP_BY,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

## For older CMSes and legacy software, which may break with the above value, this is what you want instead.
sql_mode=NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

## These configs are for Linux systems, on which O_DIRECT is a good idea to use in most environments.
innodb_flush_method = O_DIRECT

## This sets a number of sane defaults for max packet size, and makes sure we don't hit max_connect_errors under normal circumstances to avoid instability.
max_allowed_packet  = 16M
max_connect_errors = 1000000

## The SYSDATE() function is often used as a synonym for NOW(), but it is unsafe for replication. This option makes SYSDATE the same as NOW.
sysdate_is_now=1

## You probably don't need this, and it prevents TOCTOU race conditions, which are especially common in shared hosting type environments.
symbolic_links=0

## This significantly lowers several types of timeout from the default (several hour) values.
## May considerably improve scalability in the right environment, and I feel it's a better default than timeouts of hours and hours.
## Obviously your mileage may vary.
wait_timeout=30
interactive_timeout=30

## There are security issues with this and you probably don't need it anyway.
## Fun fact: a number of Linux distros, including RHEL, have basically only one single line in their default my.cnf file. It's this one.
local_infile=0

## Give table-modifying operations (INSERT, REPLACE, DELETE, UPDATE) lower priority than selects. Good for read-mostly environments like web servers.
## If you're not in a read-mostly environment you may not want this.
low_priority_updates=1

## For security reasons, we assume you *don't* want your MySQL to be network accessible unless you unset this. It seems a sensible default assumption.
skip_networking

## How many open files can we have?
## ALL the open files!
## Really though, we don't want this to bottleneck us, and some distros set this to very very low values.
open_files_limit = 65535

## MyISAM is stagnant and has very few advantages over InnoDB these days.
## InnoDB is more resistant to data corruption and has several advantageous features over MyISAM.
## Defaulting to InnoDB is a sensible choice.
default_storage_engine=innodb

## Are you running MariaDB 10.2+? You probably want this instead of the below value.
## thread_cache_size = auto

## Are you running something else? I suppose this is a decent default to start out with. You may want to change this, especially on highly concurrent systems.
thread_cache_size = 50

## InnoDB tweaks
innodb_log_files_in_group      = 2
innodb_log_file_size           = 256M

## If set to 1, new XtraDB/InnoDB tables are created with data and indexes stored in their own .ibd file.
## If set to 0, new tables are created in the system tablespace.
## Compression is only available with per table storage.
innodb_file_per_table = 1

## This value ensures optimal data security and full ACID compliance, but has a major negative performance impact, and is probably overkill for many environments.
## innodb_flush_log_at_trx_commit = 1

## With this value, you can lose a second of transactions with a crash/power outage. InnoDB's crash recovery will work regardless, and performance will be much better. 
innodb_flush_log_at_trx_commit = 2


## These are values you almost certainly want to configure, but they're too specific to your environment to set for you.
## To get started configuring them:
## I highly recommend this: https://tools.percona.com/wizard
## This is also a thing: https://mysqltuner.pl
## key_buffer_size = 
## tmp_table_size                 = 
## max_heap_table_size            = 
## max_connections                = 
## max_user_connections = 
## query_cache_type= 
## query_cache_size= 
## innodb_buffer_pool_instances = 
## innodb_buffer_pool_size = 
## table_open_cache = 
## table_definition_cache = 
